* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

/* Header */
header {
  height: 150px;
  background-color: goldenrod;
  margin-bottom: 30px;
}

.container {
  margin: 30px 0;
}

/* Sidebar */

.sidebar {
  height: 300px;
  background-color: forestgreen;
  width: 25%;
}

/* Main */

main {
  width: calc(50% - 60px);
  margin: 0 30px;
  height: 500px;
  background-color: dodgerblue;
}

/* Footer */

footer {
  background-color: purple;
  height: 200px;
  margin-top: 30px;
}
